body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: #F8C8DC;
    letter-spacing: 1px;
}

h3 {
    text-color: #fff;
    margin: 0;
    opacity: 1.0;
    letter-spacing: 2px;
}
